extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      p.card__text(style="font-size: 1.4rem; margin-bottom: 3rem; color: #777;") Enter your email address below, and we will send you a secure link to reset your password. Valid for 10 minutes.
      
      form.form.form--forgot-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send Reset Link
