extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      
      //- We store the raw reset token straight into an HTML data attribute hook for TypeScript to extract
      form.form.form--reset-password(data-token=token)
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Confirm New Password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Update Password
